---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=c4ec15791ed2c066cca8dd5d51ad6a74&lat=-23.43&lon=-45.07&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-45.07,"lat":-23.43},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":21,"pressure":1021,"humidity":46,"temp_min":21,"temp_max":21},"visibility":10000,"wind":{"speed":1.5,"deg":80},"clouds":{"all":0},"dt":1502053200,"sys":{"type":1,"id":4580,"message":0.0208,"country":"BR","sunrise":1502011886,"sunset":1502052051},"id":3445847,"name":"Ubatuba","cod":200}'
  recorded_at: Sun, 06 Aug 2017 21:36:07 GMT
recorded_with: VCR 3.0.3
