---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=c4ec15791ed2c066cca8dd5d51ad6a74&q=Berlin&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":13.41,"lat":52.52},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":21.51,"pressure":1022,"humidity":40,"temp_min":21,"temp_max":22},"visibility":10000,"wind":{"speed":3.1,"deg":190},"clouds":{"all":0},"dt":1502099400,"sys":{"type":1,"id":4892,"message":0.005,"country":"DE","sunrise":1502076989,"sunset":1502131591},"id":2950159,"name":"Berlin","cod":200}'
  recorded_at: Mon, 07 Aug 2017 10:30:04 GMT
recorded_with: VCR 3.0.3
