---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=c4ec15791ed2c066cca8dd5d51ad6a74&lat=27.33&lon=98.09&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":98.09,"lat":27.33},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"base":"stations","main":{"temp":19.94,"pressure":864.02,"humidity":100,"temp_min":19.94,"temp_max":19.94,"sea_level":1017.97,"grnd_level":864.02},"wind":{"speed":0.62,"deg":136.001},"rain":{"3h":4.265},"clouds":{"all":92},"dt":1502101823,"sys":{"message":0.0036,"country":"CN","sunrise":1502060079,"sunset":1502107903},"id":1281497,"name":"Cikai","cod":200}'
  recorded_at: Mon, 07 Aug 2017 10:30:24 GMT
recorded_with: VCR 3.0.3
