---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=c4ec15791ed2c066cca8dd5d51ad6a74&q=Berlin&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":13.41,"lat":52.52},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":15,"pressure":1015,"humidity":93,"temp_min":15,"temp_max":15},"visibility":10000,"wind":{"speed":3.6,"deg":260},"clouds":{"all":0},"dt":1501977000,"sys":{"type":1,"id":4892,"message":0.0142,"country":"DE","sunrise":1501990449,"sunset":1502045352},"id":2950159,"name":"Berlin","cod":200}'
  recorded_at: Sun, 06 Aug 2017 00:11:47 GMT
recorded_with: VCR 3.0.3
