---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=c4ec15791ed2c066cca8dd5d51ad6a74&q=Berlin&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":13.41,"lat":52.52},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":16,"pressure":1022,"humidity":63,"temp_min":16,"temp_max":16},"visibility":10000,"wind":{"speed":1},"clouds":{"all":0},"dt":1502050800,"sys":{"type":1,"id":4892,"message":0.0031,"country":"DE","sunrise":1501990533,"sunset":1502045256},"id":2950159,"name":"Berlin","cod":200}'
  recorded_at: Sun, 06 Aug 2017 20:42:08 GMT
recorded_with: VCR 3.0.3
