---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=c4ec15791ed2c066cca8dd5d51ad6a74&lat=27.33&lon=98.09&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":98.09,"lat":27.33},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"base":"stations","main":{"temp":19.66,"pressure":861.92,"humidity":97,"temp_min":19.66,"temp_max":19.66,"sea_level":1016.26,"grnd_level":861.92},"wind":{"speed":0.76,"deg":16.5035},"rain":{"3h":4.07},"clouds":{"all":56},"dt":1501978174,"sys":{"message":0.0039,"country":"CN","sunrise":1501973634,"sunset":1502021569},"id":1281497,"name":"Cikai","cod":200}'
  recorded_at: Sun, 06 Aug 2017 00:09:34 GMT
recorded_with: VCR 3.0.3
