---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=c4ec15791ed2c066cca8dd5d51ad6a74&lat=52.554486&lon=13.376573
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":13.38,"lat":52.55},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"base":"stations","main":{"temp":289.67,"pressure":1014,"humidity":93,"temp_min":289.15,"temp_max":290.15},"visibility":10000,"wind":{"speed":1.5,"deg":250},"clouds":{"all":20},"dt":1501964400,"sys":{"type":1,"id":4892,"message":0.0033,"country":"DE","sunrise":1501904037,"sunset":1501958981},"id":2855598,"name":"Berlin
        Pankow","cod":200}'
  recorded_at: Sat, 05 Aug 2017 20:55:21 GMT
recorded_with: VCR 3.0.3
