.weather-bg {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  color: #fff;
  small {
    color: inherit;
  }
  .temperature-container {
    position: absolute;
    right: 10px;
    top: 10px;
    .degrees {
      font-size: 40px;
    }
  }
}
